---
// Pricing block
// -------------------------
// Uses JSON data with { subtitle, title, nav[{ id, index, label, color }], steps[{ id, index, title, subtitle, color, body[], cta, media{back,front} }] }
// Renders: header, a <ul> with  nav links, then step blocks

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import PricingCard from '../../ui/cards/PricingCard.astro'

// Content
// - Data
import pricing from '../../../data/json-files/pricing.json'
---

<Section>
	<Row style="transparent" gapX="0">
		<Col span="12" style="transparent">
			<ul class="pricing__toggle">
				<li data-billing="annually" class="pricing__toggle-item active">
					<span class="pricing__toggle-link"
						><span class="hidden md:inline">Bill</span> Annually</span
					>
				</li>
				<li data-billing="monthly" class="pricing__toggle-item">
					<span class="pricing__toggle-link"
						><span class="hidden md:inline">Bill</span> Monthly</span
					>
				</li>
			</ul>
		</Col>
	</Row>
</Section>

<Section>
	<Row style="transparent">
		{
			pricing.plans.map((plan) => (
				<Col span="4" style="semitransparent">
					<PricingCard
						id={plan.id}
						title={plan.name}
						subtitle={plan.tagline}
						prices={{
							annually: plan.prices.annually,
							monthly: plan.prices.monthly
						}}
						pricesNotes={plan.prices_notes}
						tag={plan.tag}
						featured={plan.featured}
						features={plan.features}
						cta={plan.cta}
						decorationType="all"
						decorationStyle="solid"
					/>
				</Col>
			))
		}
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.pricing__toggle {
		@apply m-0 flex justify-center p-0;
	}
	.pricing__toggle-item {
		@apply m-0 flex-1 list-none bg-white/80 px-6 py-6 text-center outline-1 outline-neutral-200 md:px-12 lg:flex-none dark:bg-neutral-950/80 dark:outline-neutral-800;
	}
	.pricing__toggle-link {
		@apply [.active_&]:bg-primary-600 [.active_&]:shadow-primary-600/30 block cursor-pointer px-6 py-4 leading-none font-medium text-neutral-400 md:px-8 dark:text-neutral-600 [.active_&]:text-white [.active_&]:shadow-lg;
	}
</style>
