---
// Column
// ------------
// Description: A grid column with responsive span and alignment in a 12-column layout.
// Properties:
// - Span: number of columns to span (1-12) on desktop
// - SpanMobile: number of columns to span (1-12) on mobile
// - Start: starting column position (desktop)
// - Align: horizontal text alignment (start, center, end)
// - Classes: additional CSS classes
// - Style: style of the column ('opaque', 'transparent')

// Content
// - Props
type Props = {
	span?: string
	spanTablet?: string
	spanMobile?: string
	start?: string
	align?: string
	classes?: string
	style?: 'opaque' | 'transparent' | 'semitransparent'
}
const {
	span,
	spanTablet = '12',
	spanMobile = '12',
	start,
	align,
	classes,
	style = 'opaque'
} = Astro.props

const hasContent = Astro.slots.default
---

<div
	class:list={[
		'col',
		{ ['col-span-' + `${spanMobile}`]: spanMobile },
		{ ['lg:col-span-' + `${span}`]: span },
		{ ['md:col-span-' + `${spanTablet}`]: spanTablet },
		{ ['text-' + `${align}`]: align },
		{ ['lg:col-start-' + `${start}`]: start },
		{ [`${classes}`]: classes },
		{ ['col--transparent']: style === 'transparent' },
		{ ['col--opaque']: style === 'opaque' },
		{ ['col--semitransparent']: style === 'semitransparent' }
	]}
>
	{hasContent ? <slot /> : <div class="col__placeholder" />}
</div>

<style>
	@reference '../../styles/global.css';
	.col {
		@apply has-[.col\_\_placeholder]:hidden lg:has-[.col\_\_placeholder]:block;
	}
	.col__placeholder {
		@apply hidden;
	}
	.col--opaque {
		@apply bg-white dark:bg-neutral-950;
	}
	.col--semitransparent {
		@apply bg-white/80 dark:bg-neutral-950/80;
	}
</style>
