---
/*
  Footer
  -------------
  Expects FooterData:
  - logo?: { src, alt? }
  - footerAbout: { aboutText }
  - footerColumns: [{ title, links: [{ label, href }] }]
  - copyright: { text, legal: [{ label, href }] }
*/

// Components
// - UI
import Row from './Row.astro'
import Col from './Col.astro'
import DecorationBorder from './DecorationBorder.astro'
import SectionSpacer from './SectionSpacer.astro'

// Content
// - Data
import { getFooterNavigationData } from '../../config/footerNavigation'
const { logo, footerAbout, footerColumns, copyright } = await getFooterNavigationData()
---

<footer class="footer">
	<div class="container">
		<!-- Main footer -->
		<Row classes="gap-y-0!">
			<!-- Logo -->
			<Col span="4" classes="flex justify-center items-center ">
				<div class="footer__logo">
					{
						logo?.src && (
							<a href={`/`}>
								<img
									src={logo.src}
									alt={logo.alt}
									width="426"
									height="426"
									class="block dark:hidden"
								/>
								<img
									src={logo.srcDark}
									alt={logo.alt}
									width="426"
									height="426"
									class="hidden dark:block"
								/>
							</a>
						)
					}
				</div>
			</Col>
			<!-- Content -->
			<Col span="8">
				<div class="footer__content">
					<div>
						{footerAbout?.aboutText && <h2 class="footer__about h5">{footerAbout.aboutText}</h2>}
					</div>
					<div class="footer__navigation">
						<!-- Navigation Columns -->
						{
							footerColumns?.map((column, index) => (
								<div class="footer__col">
									{column.title && <h3 class="footer__col-title h4">{column.title}</h3>}
									<ul class="footer__links">
										{column.links?.map((link) => (
											<li>
												<a href={link.href}>{link.label}</a>
											</li>
										))}
									</ul>
									<DecorationBorder
										type="left"
										style="dashed"
										extraClasses={`hidden lg:block ${index === 0 ? 'lg:hidden' : ''}`}
									/>
								</div>
							))
						}

						<DecorationBorder type="top bottom" style="dashed" />
					</div>

					<div class="footer__copy">
						<p class="footer__copyright h5">{copyright?.text}</p>
						<div class="footer__legal">
							{
								copyright?.legal?.length && (
									<ul class="footer__legal-links">
										{copyright.legal.map((l) => (
											<li>
												<a class="footer__legal-link h5" href={l.href}>
													{l.label}
												</a>
											</li>
										))}
									</ul>
								)
							}
						</div>
					</div>
				</div>
			</Col>
		</Row>
	</div>
	<DecorationBorder type="top bottom" style="dashed" />
</footer>
<SectionSpacer style="primary" />
<style>
	@reference '../../styles/global.css';
	.footer {
		@apply relative [&_li]:m-0 [&_li]:list-none [&_li]:pl-0;
	}

	.footer__logo {
		@apply flex h-full w-full items-center justify-center border-b border-neutral-200 bg-white lg:border-r dark:border-neutral-700 dark:bg-neutral-950 [&_img]:max-w-48 lg:[&_img]:max-w-full;
	}
	.footer__content {
		@apply flex flex-col bg-white bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed lg:border-l lg:border-neutral-200 dark:bg-neutral-950 dark:bg-[url('/bgs/dot-gray-dark.svg')] lg:dark:border-neutral-700;
	}
	.footer__navigation {
		@apply relative flex w-full flex-row flex-wrap bg-white dark:bg-neutral-950;
	}
	.footer__about {
		@apply p-8 text-center lg:text-left;
	}
	.footer__copy {
		@apply flex flex-col items-center p-8 lg:flex-row lg:justify-between lg:gap-8;
	}
	.footer__col {
		@apply relative flex-1/2 px-8 pt-8 lg:flex-1 lg:py-8;
	}
	.footer__links {
		@apply [&_li]:mb-4 [&_li]:leading-6;
	}
	.footer__legal-links {
		@apply flex flex-row gap-4 lg:gap-8;
	}
	.footer__legal-link {
		@apply text-primary-500 mb-0;
	}
	.footer__copyright {
		@apply mb-0;
	}
</style>
