---
// Header Title
// ------------
// Description: A header title component
// Properties:
// - Subtitle: The subtitle of the header title
// - SubtitleClasses: The classes of the subtitle
// - Title: The title of the header title
// - HeadingLevel: The heading level of the header title
// - TitleClasses: The classes of the title
// - TitleWidth: The width of the title
// - Type: The type of the header title
// - Classes: The classes of the header title
// - DecorationClasses: The classes of the decoration
// - SubtitleBg: The background color of the subtitle
// - TitleBg: The background color of the title

// Components
// - UI
import DecorationBorder from './DecorationBorder.astro'

// Content
// - Props
type Props = {
	subtitle?: string
	subtitleClasses?: string
	title: string
	headingLevel?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6'
	titleClasses?: string
	titleWidth?: string
	type?: 'basic' | 'primary'
	classes?: string
	decorationClasses?: string
	subtitleBg?: string
	titleBg?: string
}
const {
	subtitle,
	subtitleClasses,
	title,
	headingLevel = 'h1',
	titleClasses,
	titleWidth,
	classes,
	type = 'basic',
	decorationClasses
} = Astro.props
---

<header
	class:list={[
		`header`,
		type === 'primary' ? 'header--primary' : 'header--basic',
		{ [`${classes}`]: classes }
	]}
>
	{
		headingLevel === 'h1' && (
			<h1 class:list={[`header__title h1`, { [`${titleClasses}`]: titleClasses }]}>
				<span class:list={[`header__title-text`, { [`${titleWidth}`]: titleWidth }]}>{title}</span>
				<DecorationBorder type="top bottom" extraClasses={decorationClasses} />
			</h1>
		)
	}
	{
		headingLevel === 'h2' && (
			<h2 class:list={[`header__title h2`, { [`${titleClasses}`]: titleClasses }]}>
				<span class:list={[`header__title-text`, { [`${titleWidth}`]: titleWidth }]}>{title}</span>
				<DecorationBorder type="top bottom" extraClasses={decorationClasses} />
			</h2>
		)
	}
	{
		headingLevel === 'h3' && (
			<h3 class:list={[`header__title h3`, { [`${titleClasses}`]: titleClasses }]}>
				<span class:list={[`header__title-text`, { [`${titleWidth}`]: titleWidth }]}>{title}</span>
				<DecorationBorder type="top bottom" extraClasses={decorationClasses} />
			</h3>
		)
	}
	{
		subtitle && (
			<p class:list={[`header__subtitle h5`, { [`${subtitleClasses}`]: subtitleClasses }]}>
				{' '}
				{subtitle}
			</p>
		)
	}
</header>

<style>
	@reference '../../styles/global.css';
	.header {
		@apply flex w-full flex-col items-start justify-center;
	}
	.header__subtitle {
		@apply order-1 mb-0 w-full px-6 py-1 lg:px-8;
	}
	.header__title {
		@apply relative order-2 mb-0 w-full px-6 py-6 lg:px-8;
	}
	.header__title-text {
		@apply block;
	}
</style>
