---
// Row
// ------------
// Description: a foundational component representing a row of content within section. The row component uses a 12 column layout grid and can contain any number of columns.
// Properties:
// - Flex: whether the row uses flex layout or grid (default is grid)
// - Classes: additional classes to apply to the row container
// - Style: style of the row (transparent, none)
// - DecorationBorder: decoration border type
// - DecorationBorderStyle: decoration border style
// - GapX: gap between columns in x direction
// - GapY: gap between columns in y direction
// - Id: id of the row

// Components
// - UI
import DecorationBorder from '../../components/ui/DecorationBorder.astro'

// Content
// - Props
type Props = {
	flex?: boolean
	classes?: string
	style?: 'transparent' | 'semitransparent' | 'opaque'
	decorationBorder?: string
	decorationBorderStyle?: 'dashed' | 'solid'
	gapX?: string
	gapY?: string
	mobileGapX?: string
	mobileGapY?: string
	id?: string
}
const {
	flex,
	classes,
	style = 'semitransparent',
	decorationBorder = 'all',
	gapX = '8',
	gapY = '8',
	mobileGapX = '6',
	mobileGapY = '6',
	decorationBorderStyle = 'solid',
	id
} = Astro.props
---

<div class="row" id={id}>
	<div
		class:list={[
			'row__grid',
			{ 'row__grid--flex': flex },
			{ 'row__grid--semitransparent': style === 'semitransparent' },
			{ 'row__grid--transparent': style === 'transparent' },
			{ [`lg:gap-x-${gapX}`]: gapX },
			{ [`lg:gap-y-${gapY}`]: gapY },
			{ [`gap-x-${mobileGapX}`]: mobileGapX },
			{ [`gap-y-${mobileGapY}`]: mobileGapY },
			{ [`${classes}`]: classes }
		]}
	>
		<slot />
	</div>
	<DecorationBorder type={decorationBorder} style={decorationBorderStyle} />
</div>
<style>
	@reference '../../styles/global.css';
	.row {
		@apply relative;
	}
	.row__grid {
		@apply relative grid grid-cols-12;
	}
	.row__grid--flex {
		@apply flex w-full flex-row flex-wrap items-center justify-center [&>*]:flex-1;
	}
	.row__grid--semitransparent {
		@apply w-full bg-white/80 dark:bg-neutral-950/80;
	}
	.row__grid--transparent {
		@apply w-full bg-transparent;
	}
</style>
