---
// Section
// ------------
// Description: a foundational component representing a section of content within a page. The section can contain any number of rows.
// Properties:
// - id: the id of the section
// - fullWidth: whether the section expands to full width
// - fullWidthRight: whether the section expands to full width on the right side
// - stickyCol: specifies whether the section contains a sticky column
// - vAlign: vertical alignment of the section content
// - bg: the background image of the section
// - bgPosition: position of the background image (center, top, bottom)
// - bgHeight: height of the background image
// - bgSize: size of the background image (cover, contain)
// - bgClasses: additional classes for the background container
// - decorationBorder: border style of the section (corners, all, none)
// - type: type of section styling (alt, none)
// - decorationClasses: additional classes for the decoration border
// - decorationBorderStyle: border style of the decoration border (dashed, solid)
// - decorationBorderType: type of decoration border (corners, all, none)
// - decorationBorderExtraClasses: additional classes for the decoration border
// - classes: additional classes for the section container
// - spacerTop: whether to add a top spacer
// - spacerBottom: whether to add a bottom spacer
// - spacerTopStyle: style of the top spacer
// - spacerBottomStyle: style of the bottom spacer

// Components
// - UI
import DecorationBorder from '../../components/ui/DecorationBorder.astro'
import SectionSpacer from '../../components/ui/SectionSpacer.astro'

// Content
// - Props
type BgProps = {
	src: string
	width: number
	height: number
	format: string
}
type Props = {
	id?: string
	fullWidth?: boolean
	fullWidthRight?: boolean
	stickyCol?: boolean
	vAlign?: string
	bg?: BgProps
	bgPosition?: string
	bgHeight?: string
	bgSize?: string
	type?: 'alt' | 'none'
	decorationBorder?: string
	classes?: string
	bgClasses?: string
	spacerTop?: boolean
	spacerBottom?: boolean
	spacerTopStyle?: 'neutral' | 'primary'
	spacerBottomStyle?: 'neutral' | 'primary'
}
const {
	id,
	fullWidth,
	fullWidthRight,
	stickyCol = false,
	vAlign,
	bg,
	bgPosition = 'center',
	bgHeight = '100%',
	bgSize,
	type = 'none',
	decorationBorder = 'top bottom',
	classes,
	bgClasses,
	spacerTop = false,
	spacerBottom = true,
	spacerTopStyle = 'neutral',
	spacerBottomStyle = 'neutral'
} = Astro.props

const bgStyle = bg
	? {
			backgroundImage: `url(${bg.src})`,
			height: bgHeight,
			backgroundPosition: bgPosition,
			backgroundRepeat: 'no-repeat'
		}
	: {
			height: bgHeight
		}
---

{spacerTop && <SectionSpacer style={spacerTopStyle} />}

<section
	{...id ? { id } : {}}
	class:list={[
		'section',
		{ 'section--sticky-col': stickyCol },
		{ 'section--fullwidth': fullWidth },
		{ 'section--fullwidth-right': fullWidthRight },
		{ [`section--v-allign-${vAlign}`]: vAlign },
		{ [`section--${type}`]: type },
		{ [`${classes}`]: classes }
	]}
>
	<div
		style={bgStyle}
		class:list={[
			'section__bg',
			{ [`section__bg--${bgSize}`]: bgSize },
			{ [`${bgClasses}`]: bgClasses }
		]}
	>
	</div>
	<div class="container">
		{
			fullWidthRight ? (
				<div class="container__track">
					<slot />
				</div>
			) : (
				<slot />
			)
		}
	</div>
	<DecorationBorder type={decorationBorder} style="dashed" />
</section>

{spacerBottom && <SectionSpacer style={spacerBottomStyle} />}

<style>
	@reference '../../styles/global.css';
	.section {
		@apply relative overflow-hidden [&.section--sticky]:overflow-visible;
	}
	.section--v-allign-top {
		@apply flex flex-col justify-start;
	}
	.section--v-allign-center {
		@apply flex flex-col justify-center;
	}
	.section--v-allign-bottom {
		@apply flex flex-col justify-end;
	}
	.section__bg {
		@apply absolute inset-0;
	}
	.container__track {
		@apply lg:in-[.section--fullwidth-right]:w-screen;
	}
	/* Section alt */
	.section--alt {
	}
</style>
