---
// Tag
// ------------
// Description: Interactive tag element with various types
// Properties:
// - Type: tag type (normal, link)
// - Link: URL for link type tags
// - Style: tag style (neutral (default), primary)
// - Classes: additional CSS classes

// Content
// - Props
type Props = {
	type?: 'link' | 'normal'
	link?: string
	style?: 'primary' | 'neutral'
	classes?: string
}
const { type = 'normal', link, style = 'neutral', classes } = Astro.props

const isAbsoluteURL = (url: string) => /^https?:\/\//i.test(url)
---

{
	type === 'link' || link ? (
		<a
			href={link}
			target={link && isAbsoluteURL(link) ? '_blank' : '_self'}
			class:list={['tag', { ['tag--' + `${style}`]: style }, { [`${classes}`]: classes }]}
		>
			<slot />
		</a>
	) : (
		<span class:list={['tag', { ['tag--' + `${style}`]: style }, { [`${classes}`]: classes }]}>
			<slot />
		</span>
	)
}
<style>
	@reference '../../styles/global.css';
	.tag {
		@apply inline-block rounded-3xl px-4 py-1.5 text-sm leading-6;
	}
	.tag--neutral {
		@apply border border-dashed border-neutral-200 text-neutral-700 dark:border-neutral-800 dark:text-neutral-200;
	}
	.tag--primary {
		@apply bg-primary-600 text-white;
	}
</style>
