---
// Blog Layout
// ------------
// Description: A layout for blog posts
// Properties:
// - frontmatter: The frontmatter of the blog post

// Imports
const { frontmatter } = Astro.props

// Components
// - Layout
import Layout from './Layout.astro'
import Col from '../components/ui/Col.astro'
import Row from '../components/ui/Row.astro'
import Section from '../components/ui/Section.astro'
// - Blocks
import Hero from '../components/blocks/hero/SimpleHeroBasic.astro'
import CTAPrimary from '../components/blocks/cta/CTAPrimary.astro'
// - UI
import Card from '../components/ui/cards/Card.astro'
import DecorationBorder from '../components/ui/DecorationBorder.astro'
import { Image } from 'astro:assets'

// Content
// - Formatting author slug like "john-doe" into "John Doe"
export const formattedAuthorName = (author: string) =>
	author
		.split('-')
		.map((part) => part.charAt(0).toUpperCase() + part.slice(1))
		.join(' ')

// - CTA data
const CTA = {
	title: 'Launch your next big idea today',
	text: 'Join creators, teams, and startups already turning their ideas into reality. Get started in minutes and see how simple launching can be when everything works together seamlessly.',
	buttonText: 'Try it for free!',
	buttonLink: '/contact'
}
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<Hero
		subtitle={`By ${formattedAuthorName(frontmatter.author)}, ${new Date(
			frontmatter.pubDate
		).toLocaleDateString('en-US', {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		})}`}
		title={frontmatter.title}
		text={frontmatter.text}
		titleWidth="max-w-full"
	/>
	{
		frontmatter.image && (
			<Section>
				<Row>
					<Col span="12">
						<div class="parallax h-96 w-full lg:h-[680px]">
							<Image
								class="h-[calc(100%+50px)] w-full object-cover will-change-transform"
								src={frontmatter.image}
								alt={frontmatter.title}
								loading="lazy"
								decoding="async"
								layout="constrained"
							/>
						</div>
					</Col>
				</Row>
			</Section>
		)
	}
	<Section>
		<Row style="semitransparent">
			<Col style="transparent" span="12" classes="basic-text flex justify-center items-center">
				<div
					class="relative max-w-5xl bg-white text-xl leading-9 dark:bg-neutral-950 [&_p]:px-8 [&_p]:first:pt-6"
				>
					<slot />
					<DecorationBorder type="top right bottom left" style="solid" />
				</div>
			</Col>
		</Row>
	</Section>
	<CTAPrimary
		title={CTA.title}
		text={CTA.text}
		buttonText={CTA.buttonText}
		buttonLink={CTA.buttonLink}
	/>
</Layout>
