---
// Layout
// ------------
// Description: The layout for the page with header and footer
// Properties:
// - title: The title of the page
// - description: The description of the page
// - ogImage: The image for the Open Graph
// - noindex: Whether to add the noindex meta tag
// - navigation: The navigation bar type. Default is sticky , other options are none, transparent (fixed), and none

// Components
import NavigationBar from '../components/ui/NavigationBar.astro'
import Main from '../components/ui/Main.astro'
import Footer from '../components/ui/Footer.astro'
import Header from '../components/blocks/head/Header.astro'
import NotificationToast from '../components/ui/NotificationToast.astro'
// Scripts
import Scripts from '../components/scripts/ThemeScripts.astro'
import GoogleTagManager from '../components/scripts/googleTagManagerBody.astro'
// Styles
import '../styles/global.css'

// Data
import { configData } from '../config/config'

// - Swiper
import 'swiper/css'
import 'swiper/css/autoplay'

// Props
type Props = {
	title?: string
	description?: string
	ogImage?: string
	noindex?: boolean
	navigation?: 'none' | 'transparent' | 'sticky'
	footer?: 'none' | 'basic'
}
// Page Metadata
const {
	title,
	description,
	ogImage,
	noindex,
	navigation = 'sticky',
	footer = 'basic'
} = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-animation mode-auto">
	<Header title={title} description={description} ogImage={ogImage} noindex={noindex} />
	<body
		class:list={[
			{ ['mode-' + `${configData.mode}`]: configData.mode },
			{ ['scroll-animation']: configData.scrollAnimations }
		]}
	>
		<GoogleTagManager />
		{navigation !== 'none' && <NavigationBar type={navigation} />}
		<Main>
			<slot />
		</Main>
		{footer !== 'none' && <Footer />}
		<NotificationToast />
		<Scripts />
	</body>
</html>
