---
// Centered Hero CTA
// ------------
// Description: A hero section with a title and a subtitle, with a centered image
// Properties:
// - title: The title of the hero section
// - subtitle: The subtitle of the hero section
// - text: The text of the hero section
// - buttonText: The text of the button
// - buttonLink: The link of the button
// - buttonClasses: Additional classes for the button
// - classes: Additional classes for the section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Button from '../../ui/Button.astro'
// - UI
import Header from '../../ui/Header.astro'
import { Image } from 'astro:assets'

// Content
// - Assets
import screenshot from '../../../assets/hero/screenshot.svg'

// - Props
type Props = {
	title?: string
	subtitle?: string
	text?: string
	titleSpan?: string
	buttonText?: string
	buttonLink?: string
	buttonClasses?: string
	classes?: string
	image?: string
}
const {
	title = '',
	text = '',
	subtitle = '',
	buttonText = '',
	buttonClasses = 'w-full lg:w-auto',
	buttonLink = '/',
	classes = '',
	image
} = Astro.props
---

<Section classes={`${classes ? classes : ''}`} spacerTop={true}>
	<Row classes="gap-y-0!">
		<!-- Intro Text -->
		<Col span="12" classes="pt-16 lg:pt-24">
			<Header
				title={title}
				subtitle={subtitle}
				classes="text-center"
				titleWidth="mx-auto max-w-3xl"
			/>
		</Col>

		<Col
			span="12"
			classes=" bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] "
		>
			<div class="my-10 flex justify-center">
				<Button classes={buttonClasses} link={buttonLink}>{buttonText}</Button>
			</div>
			<div data-parallax-offset="80" class="parallax">
				<Image
					src={screenshot}
					alt="Mizu Light"
					class="mx-auto block"
					layout="constrained"
					decoding="async"
					loading="eager"
					fetchpriority="high"
					width={1280}
				/>
			</div>
		</Col>
	</Row>
</Section>
