---
// Simple Hero Basic
// ------------
// Description: A hero section with a title and a subtitle
// Properties:
// - title: The title of the hero section
// - subtitle: The subtitle of the hero section
// - text: The text of the hero section
// - classes: Additional classes for the section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Header from '../../ui/Header.astro'

// Content
// - Props
type Props = {
	title?: string
	titleWidth?: string
	subtitle?: string
	text?: string
	classes?: string
}
const { title = '', titleWidth = 'max-w-4xl', subtitle, text = '', classes = '' } = Astro.props
---

<Section classes={`${classes ? classes : ''}`} spacerTop={true}>
	<Row style="transparent">
		<Col span="12" style="transparent">
			<div class="hero">
				<Header
					title={title}
					subtitle={subtitle}
					titleWidth={titleWidth}
					titleClasses="bg-white dark:bg-neutral-950"
				/>
				<div class="px-6 lg:px-8">
					<p class="mb-0! max-w-lg pt-6 text-xl leading-9 lg:pt-12">
						{text}
					</p>
				</div>
			</div>
		</Col>
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.hero {
		@apply relative bg-white bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed py-16 lg:py-24 dark:bg-neutral-950 dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:bg-fixed;
	}
</style>
