---
// Simple Hero Neutral
// ------------
// Description: A hero section with a title and a subtitle, with a neutral background
// Properties:
// - title: The title of the hero section
// - titleWidth: The width of the title
// - subtitle: The subtitle of the hero section
// - text: The text of the hero section
// - classes: Additional classes for the section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Header from '../../ui/Header.astro'

// Content
// - Props
type Props = {
	title?: string
	titleWidth?: string
	subtitle?: string
	text?: string
	textClasses?: string
	classes?: string
}
const {
	title = '',
	titleWidth = 'max-w-4xl',
	subtitle,
	text = '',
	classes = '',
	textClasses = ''
} = Astro.props
---

<Section classes={`${classes ? classes : ''}`} spacerTop={true}>
	<Row>
		<Col span="12">
			<div class="hero">
				<Header
					title={title}
					subtitle={subtitle}
					titleWidth={titleWidth}
					titleClasses="bg-neutral-100 dark:bg-neutral-900"
					subtitleClasses="text-white!"
				/>
				<div class="px-6 lg:px-8">
					<p
						class:list={[
							'mb-0! max-w-md pt-6 text-xl leading-9 lg:pt-12',
							{ [`${textClasses}`]: textClasses }
						]}
					>
						{text}
					</p>
				</div>
			</div>
		</Col>
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.hero {
		@apply relative bg-neutral-200/20 bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed py-16 lg:py-24 dark:bg-neutral-800/80 dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px];
	}
</style>
