---
// Action Card
// ------------
// Description: A card with a title, a subtitle, a description and a link
// Properties:
// - title: The title of the card
// - link: The link of the card
// - linkText: The text of the link
// - decorationType: The decoration type of the card
// - decorationStyle: The decoration style of the card
// - classes: Extra classes for the container

// Components
// - UI
import Card from './partials/CardContainer.astro'
import CardHeader from './partials/CardHeader.astro'
import CardBody from './partials/CardBody.astro'
import CardFooter from './partials/CardFooter.astro'
import Link from '../Link.astro'
import DecorationBorder from '../DecorationBorder.astro'

// Content
// - Props
type Props = {
	title: string
	link?: string
	linkText?: string
	parallaxOffset?: string
	classes?: string
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
}
const {
	title,
	classes,
	decorationType = 'none',
	decorationStyle = 'solid',
	link,
	linkText
} = Astro.props
---

<Card
	classes={`flex flex-col h-full ${classes}`}
	decorationType="top right bottom left"
	style="transparent"
	decorationStyle={decorationStyle}
>
	<CardHeader classes="bg-white dark:bg-neutral-950 py-6!">
		<h3 class="mb-0! text-xl! leading-8!">{title}</h3>
	</CardHeader>

	<CardBody
		decorationType="top bottom"
		classes="bg-white/80! dark:bg-neutral-950/80! py-6! text-lg! leading-8! h-full"
	>
		<slot />
	</CardBody>

	<CardFooter classes="bg-white dark:bg-neutral-950 py-6!">
		<Link link={link}>
			{linkText}
		</Link>
	</CardFooter>
	<DecorationBorder type="top right bottom left" style={decorationStyle} />
</Card>
