---
// Blog Card
// ------------
// Description: A card with a title, a subtitle, a description and a link
// Properties:
// - title: The title of the card
// - image: The image of the card
// - link: The link of the card
// - author: The author of the card
// - date: The date of the card
// - description: The description of the card
// - classes: Extra classes for the container

// Components
// - UI
import Card from './partials/CardContainer.astro'
import CardHeader from './partials/CardHeader.astro'
import CardBody from './partials/CardBody.astro'
import CardFooter from './partials/CardFooter.astro'
import Link from '../Link.astro'
import DecorationBorder from '../DecorationBorder.astro'

// Content
// - Props
type Props = {
	title?: string
	image?: any
	link?: string
	author?: string
	date?: string
	description?: string
	classes?: string
}
const { title = '', image, link, classes, author, date, description } = Astro.props
---

<Card
	classes={`flex flex-col h-full ${classes}`}
	decorationType="top right bottom left"
	style="transparent"
	decorationStyle="solid"
>
	{
		image && (
			<div class="parallax parallax relative h-96 w-full lg:h-[460px]">
				<img
					src={image}
					alt={title}
					class="h-[calc(100%+50px)] w-full object-cover will-change-transform"
				/>
			</div>
		)
	}
	<CardHeader classes="bg-white dark:bg-neutral-950 pt-6! relative p-0!">
		<span class="relative block">
			<span class="px-8 text-sm leading-9 text-neutral-500 uppercase">By {author}, {date}</span>
			<DecorationBorder type="bottom" />
		</span>
		<a href={link} class="h3 mb-0! block px-8 py-6 transition-colors hover:text-inherit!">{title}</a
		>
	</CardHeader>

	<CardBody
		decorationType="top bottom"
		classes="bg-white/80! dark:bg-neutral-950/80! py-6! h-full "
	>
		<p class="mb-8! text-xl! leading-9!">{description}</p>
	</CardBody>

	<CardFooter classes="bg-white dark:bg-neutral-950 py-6!">
		<Link link={link} size="lg"> Read more </Link>
	</CardFooter>
	<DecorationBorder type="top right bottom left" style="solid" />
</Card>
