---
// Card
// ------------
// Description: The card component
// Properties:
// - Decoration: the decoration of the card corners
// - Title: the title of the card
// - Subtitle: the subtitle of the card (supports HTML)
// - Image: the main image of the card
// - Video: video element (replaces image if provided)
// - Link: if provided, the card becomes a link
// - TitleLink: makes only the title a link
// - Style: normal or transparent (background style)
// - Orientation: vertical or horizontal (layout direction)
// - Classes: extra classes for the card container
// - CardMediaClasses: extra classes for the image or video
// - CardHeaderClasses: extra classes for the card header
// - CardBodyClasses: extra classes for the card body
// - MediaEffect: parallax, hover or none (media effect)

// Components
// - UI
import { Image } from 'astro:assets'
import CardContainer from './partials/CardContainer.astro'

// Props
type Props = {
	decorationType?: string
	title?: string
	subtitle?: string
	image?: any
	link?: string
	titleLink?: string
	style?: 'normal' | 'transparent'
	orientation?: 'vertical' | 'horizontal'
	classes?: string
	cardMediaClasses?: string
	cardHeaderClasses?: string
	cardBodyClasses?: string
	mediaEffect?: 'hover' | 'parallax' | 'none'
}
const {
	decorationType = 'all',
	title = '',
	subtitle,
	image,
	link,
	titleLink,
	style = 'normal',
	classes,
	orientation = 'vertical',
	cardMediaClasses = '',
	cardHeaderClasses = '',
	cardBodyClasses = '',
	mediaEffect = 'none'
} = Astro.props

/* Check if slot has content */
const hasCardBodyContent = !!Astro.slots.default

// Dynamic wrapper for horizontal orientation
const Wrapper = orientation === 'horizontal' ? 'div' : Fragment
const wrapperProps = orientation === 'horizontal' ? { class: 'card__content' } : {}
---

<CardContainer
	classes={` ${orientation === 'horizontal' ? 'card--horizontal h-full' : ''} ${classes ?? ''}`.trim()}
	link={link}
	decorationType={decorationType}
	style={style}
>
	{
		image && (
			<div
				class:list={[
					'card__media',
					{ [`${cardMediaClasses}`]: cardMediaClasses },
					{ [`block w-full object-cover lg:w-1/2`]: orientation === 'horizontal' },
					{ [`card__media--hover`]: mediaEffect === 'hover' },
					{ [`card__media--parallax`]: mediaEffect === 'parallax' }
				]}
			>
				<Image src={image} alt={title} inferSize />
			</div>
		)
	}
	<!-- Dynamic wrapper depending on orientation -->
	<Wrapper {...wrapperProps}>
		{
			title && (
				<div class:list={['card__header', { [cardHeaderClasses]: cardHeaderClasses }]}>
					{titleLink ? (
						<a
							href={titleLink}
							class="card__header-title h3 dark:hover:text-primary-100! transition-colors duration-700"
						>
							{title}
						</a>
					) : (
						<h3 class="card__header-title">{title}</h3>
					)}
					{subtitle && <span class="card__header-subtitle" set:html={subtitle} />}
				</div>
			)
		}

		{
			hasCardBodyContent && (
				<div class:list={['card__body', { [cardBodyClasses]: cardBodyClasses }]}>
					<slot />
				</div>
			)
		}
	</Wrapper>
</CardContainer>

<style>
	@reference '../../../styles/global.css';
	.card__header {
		@apply relative z-1 flex flex-col gap-2 p-8;
	}
	.card__header-title {
		@apply mb-0;
	}
	.card__media {
		@apply flex items-center overflow-hidden [&_img]:h-full [&_img]:w-full [&_img]:object-cover;
	}
	.card__header-subtitle {
		@apply text-sm font-light text-neutral-500 dark:text-neutral-200;
	}
	.card__body {
		@apply p-8;
	}
	.card__header + .card__body {
		@apply pt-0;
	}
	.card__body *:last-child {
		@apply mb-0;
	}
	.card__content {
		@apply block max-w-full lg:max-w-1/2;
	}
	.card__media--hover img {
		@apply lg:scale-[1.02] lg:transition-all lg:duration-1000 lg:group-hover:scale-100;
	}
	.card__media--parallax > * {
		@apply h-[calc(100%+50px)] transition-transform ease-linear will-change-transform;
	}
</style>
