---
// Feature Card Image
// ------------
// Description: A feature card with a title, description and an image
// Properties:
// - title: The title of the feature card
// - description: The description of the feature card
// - parallaxOffset: The parallax offset of the feature card
// - decorationType: The decoration type of the feature card
// - decorationStyle: The decoration style of the feature card
// - classes: extra classes
// - style: The style of the feature card (gradient or solid)

// Components
// - UI
import Card from './partials/CardContainer.astro'
import CardBody from './partials/CardBody.astro'
import DecorationBorder from '../DecorationBorder.astro'

// Content
// - Props
type Props = {
	title?: string
	description?: string
	style?: 'gradient' | 'solid'
	parallaxOffset?: string
	classes?: string
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
}
const {
	classes,
	parallaxOffset = '50',
	decorationType = 'none',
	decorationStyle = 'solid',
	style = 'gradient'
} = Astro.props
---

<Card
	classes={`card--feature flex flex-col h-full ${classes} ${style === 'gradient' ? 'card--feature_gradient' : 'card--feature_solid'}`}
	style="transparent"
	decorationType={decorationType}
	decorationStyle={decorationStyle}
>
	<CardBody classes="p-6! mg:p-8! lg:p-12! pb-0! lg:pb-0! h-full">
		<slot name="content" />
	</CardBody>
	<div class="card--feature__media">
		<div class="card--feature__bg-front parallax">
			<div data-parallax-offset={parallaxOffset}>
				<slot name="bg-front" />
			</div>
		</div>
		<div class="card--feature__bg-back">
			<slot name="bg-back" />
		</div>
	</div>
	{
		style === 'gradient' && (
			<>
				<div class="card--feature__bg-gradient" />
				<div class="card--feature__bg-dots" />
			</>
		)
	}
	<DecorationBorder type={decorationType} style={decorationStyle} />
</Card>

<style>
	@reference '../../../styles/global.css';
	.card--feature {
		@apply overflow-hidden;
	}
	.card--feature__bg-gradient {
		@apply absolute inset-0 z-[-1] bg-linear-to-b from-[#FAFAF9] to-[#F9F9F6] dark:from-neutral-900 dark:to-[#0c0b0a];
	}
	.card--feature__bg-dots {
		@apply absolute inset-0 z-[-1] bg-transparent bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')];
	}
	.card--feature__bg-front {
		@apply absolute inset-0 z-[1] h-full object-cover;
	}
	.card--feature__media {
		@apply relative h-full flex-1 object-cover;
	}
</style>
