---
// Feature Card
// ------------
// Description: A feature card with a title, description and a front and background image
// Properties:
// - title: The title of the feature card
// - description: The description of the feature card
// - parallaxOffset: The parallax offset of the feature card
// - decorationType: The decoration type of the feature card
// - decorationStyle: The decoration style of the feature card
// - classes: extra classes

// Components
// - UI
import Card from './partials/CardContainer.astro'
import CardHeader from './partials/CardHeader.astro'
import CardBody from './partials/CardBody.astro'
import DecorationBorder from '../DecorationBorder.astro'

// Content
// - Props
type Props = {
	title: string
	parallaxOffset?: string
	classes?: string
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
}
const { title, classes, decorationType = 'none', decorationStyle = 'solid' } = Astro.props
---

<Card
	classes={`flex flex-col h-full ${classes}`}
	decorationType={decorationType}
	style="transparent"
	decorationStyle={decorationStyle}
>
	<CardHeader classes="bg-white dark:bg-neutral-950 py-6!">
		<h3 class="mb-0! text-xl! leading-8!">{title}</h3>
	</CardHeader>

	<CardBody
		decorationType="top"
		classes="bg-white/80! dark:bg-neutral-950/80! py-6! text-lg! leading-8!"
	>
		<slot />
	</CardBody>

	<DecorationBorder type={decorationType} style={decorationStyle} />
</Card>
