---
// Pricing Card
// ------------
// Description: A pricing card compatible with your Card UI.
// Props:
// - id: Unique plan id (e.g., "starter")
// - title: Plan name
// - subtitle?: Short tagline
// - prices: { annually or monthly }
// - pricesNotes: { annually or monthly }
// - tag?: string
// - featured?: boolean
// - features: string[]
// - contactCard?: A contact card without a price
// - cta: call to action
// - decorationType?: string
// - decorationStyle:
// - classes?: string

// Components
// - UI
import Card from './partials/CardContainer.astro'
import CardHeader from './partials/CardHeader.astro'
import CardBody from './partials/CardBody.astro'
import CardFooter from './partials/CardFooter.astro'
import DecorationBorder from '../DecorationBorder.astro'
import Tag from '../Tag.astro'
import Link from '../Link.astro'

// Content
// - Types
type Prices = {
	annually?: number | null
	monthly?: number | null
}
type CTA = {
	label: string
	href: string
}
type PricesNotes = {
	annually?: string | null
	monthly?: string | null
}
// - Props
type Props = {
	id: string
	title: string
	subtitle?: string
	prices?: Prices
	pricesNotes?: PricesNotes
	contactCard?: boolean
	contactTitle?: string
	priceNote?: string
	tag?: string
	featured?: boolean
	features: string[]
	cta?: CTA
	classes?: string
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
}
const {
	id,
	title,
	subtitle = '',
	prices,
	pricesNotes,
	contactCard = false,
	contactTitle = '',
	tag,
	featured = false,
	features = [],
	cta,
	classes = '',
	decorationType = 'none',
	decorationStyle = 'solid'
} = Astro.props
---

{
	!contactCard && (
		<Card
			classes={`card--pricing h-full flex flex-col ${classes}`}
			decorationType={decorationType}
			style="transparent"
			decorationStyle={decorationStyle}
		>
			<CardHeader classes="py-6!">
				<h3 class="card--pricing__title">
					{title}
					{tag && (
						<Tag style="primary" classes="font-medium normal-case">
							{tag}
						</Tag>
					)}
				</h3>
				{subtitle && <p>{subtitle}</p>}
			</CardHeader>

			<CardBody classes="p-0! flex flex-col flex-1 ">
				<div class="card--pricing-details">
					{prices && pricesNotes && (
						<div class="card--pricing-price">
							<span
								class="card--pricing-price__amount"
								data-price-monthly={prices.monthly}
								data-price-annually={prices.annually}
							>
								${prices.annually}
							</span>
							<span
								class="card--pricing-price__note"
								data-price-monthly-note={pricesNotes.monthly}
								data-price-annually-note={pricesNotes.annually}
							>
								{pricesNotes.annually}
							</span>
						</div>
					)}
					<DecorationBorder type="top bottom" style="dashed" />
				</div>

				{features.length > 0 && (
					<ul class="card--pricing-features">
						{features.map((f) => (
							<li>
								<svg
									width="21"
									height="36"
									viewBox="0 0 21 36"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="h-7 lg:h-9"
								>
									<path
										d="M10.666 26C15.0843 26 18.666 22.4183 18.666 18C18.666 13.5817 15.0843 10 10.666 10C6.24774 10 2.66602 13.5817 2.66602 18C2.66602 22.4183 6.24774 26 10.666 26Z"
										class="fill-neutral-200 dark:fill-neutral-700"
									/>
									<path
										d="M7.66602 18.5L9.66602 20.5L13.666 15.5"
										class="stroke-neutral-950 dark:stroke-white"
										stroke-width="1.25"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</svg>

								<span>{f}</span>
							</li>
						))}
					</ul>
				)}
			</CardBody>
			{cta && !featured && (
				<CardFooter classes="bg-neutral-50 dark:bg-neutral-900 bg-[url('/bgs/dot-gray-light.svg')] dark:bg-[url('/bgs/dot-gray-dark.svg')] bg-size-[18px] bg-fixed">
					<Link link={cta.href} aria-label={`${cta.label} - ${title}`}>
						{cta.label}
					</Link>
					<DecorationBorder type="top " style="dashed" />
				</CardFooter>
			)}
			{cta && featured && (
				<CardFooter classes="bg-primary-600 dark:bg-primary-600 bg-[url('/bgs/dot-gray-transparent.svg')] bg-size-[18px] bg-fixed text-white">
					<Link link={cta.href} aria-label={`${cta.label} - ${title}`} classes="text-inherit!">
						{cta.label}
					</Link>
					<DecorationBorder type="top " style="dashed" />
				</CardFooter>
			)}
			<DecorationBorder type={decorationType} style={decorationStyle} />
		</Card>
	)
}

{
	contactCard && (
		<Card
			classes={`card--pricing h-full lg:grid lg:grid-cols-3 ${classes}`}
			decorationType={decorationType}
			style="transparent"
			decorationStyle={decorationStyle}
		>
			<CardHeader classes="p-0! flex flex-col relative">
				<div class="px-6 py-6 lg:px-8">
					<h3 class="card--pricing__title">
						{title}
						{tag && (
							<Tag style="primary" classes="font-medium normal-case">
								{tag}
							</Tag>
						)}
					</h3>
					{subtitle && <p>{subtitle}</p>}
				</div>
				<div class="card--pricing-details flex-1">
					{
						<div class="card--pricing-price">
							<span class="card--pricing-price__amount w-full!">{contactTitle}</span>
						</div>
					}
					<DecorationBorder type="top bottom" style="dashed" />
				</div>
				{cta && (
					<CardFooter classes="hidden lg:block bg-primary-600 dark:bg-primary-600 bg-[url('/bgs/dot-gray-transparent.svg')] bg-size-[18px] bg-fixed text-white">
						<Link link={cta.href} aria-label={`${cta.label} - ${title}`} classes="text-inherit!">
							{cta.label}
						</Link>
						<DecorationBorder type="top " style="dashed" />
					</CardFooter>
				)}
				<DecorationBorder type="right" style="solid" />
			</CardHeader>

			<CardBody classes="p-6! lg:px-8! lg:py-12! lg:col-span-2 lg:columns-2 lg:gap-8">
				{features.length > 0 && (
					<ul class="card--pricing-features p-0!">
						{features.map((f) => (
							<li>
								<svg
									width="21"
									height="36"
									viewBox="0 0 21 36"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="h-7 lg:h-9"
								>
									<path
										d="M10.666 26C15.0843 26 18.666 22.4183 18.666 18C18.666 13.5817 15.0843 10 10.666 10C6.24774 10 2.66602 13.5817 2.66602 18C2.66602 22.4183 6.24774 26 10.666 26Z"
										class="fill-neutral-200 dark:fill-neutral-700"
									/>
									<path
										d="M7.66602 18.5L9.66602 20.5L13.666 15.5"
										class="stroke-neutral-950 dark:stroke-white"
										stroke-width="1.25"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</svg>

								<span>{f}</span>
							</li>
						))}
					</ul>
				)}
			</CardBody>
			{cta && (
				<CardFooter classes="block lg:hidden! bg-primary-600 dark:bg-primary-600 bg-[url('/bgs/dot-gray-transparent.svg')] bg-size-[18px] bg-fixed text-white">
					<Link link={cta.href} aria-label={`${cta.label} - ${title}`} classes="text-inherit!">
						{cta.label}
					</Link>
					<DecorationBorder type="top " style="dashed" />
				</CardFooter>
			)}
			<DecorationBorder type={decorationType} style={decorationStyle} />
		</Card>
	)
}

<style>
	@reference '../../../styles/global.css';

	.card--pricing__title {
		@apply font-headings mb-0 flex justify-between text-sm leading-9 text-neutral-950 uppercase dark:text-white;
	}
	.card--pricing-details {
		@apply relative bg-white px-6 py-6 leading-normal lg:px-8 dark:bg-neutral-950;
	}
	.card--pricing-details {
		@apply font-headings font-medium;
	}
	.card--pricing-price__amount {
		@apply inline-block text-5xl leading-none lg:w-36 lg:text-[4rem];
	}
	.card--pricing-features {
		@apply m-0 list-none px-6 py-8 lg:px-8 lg:py-12 lg:text-xl lg:leading-9 [&_li]:mb-4 [&_li]:ml-0 [&_li]:flex [&_li]:list-none [&_li]:items-start [&_li]:gap-2 [&_li]:pl-0 lg:[&_li]:gap-4;
	}
</style>
