---
// Testimonial Card
// ------------
// Description: A blog card with a title, a subtitle, a description and a grid of testimonials
// Properties:
// - Quote: The quote of the testimonial
// - QuoteClasses: The classes of the quote
// - Author: The author of the testimonial
// - Position: The position of the testimonial
// - Image: The image of the testimonial
// - ImageClasses: The classes of the image
// - Classes: The classes of the testimonial
// - DecorationType: The decoration type of the testimonial
// - DecorationStyle: The decoration style of the testimonial

// Components
// - UI
import Card from './partials/CardContainer.astro'
import CardBody from './partials/CardBody.astro'
import CardFooter from './partials/CardFooter.astro'
import CardHeader from './partials/CardHeader.astro'
import { Image } from 'astro:assets'

// Content
// - Assets
import quoteMark from '../../../assets/quotemark.webp'

// - Props
type Props = {
	quote?: string
	quoteClasses?: string
	author?: string
	position?: string
	classes?: string
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
}
const {
	quote = '',
	quoteClasses = '',
	author = '',
	position = '',
	classes = '',
	decorationType = 'all',
	decorationStyle = 'solid'
} = Astro.props
---

<Card
	decorationType={decorationType}
	decorationStyle={decorationStyle}
	classes={`${classes} flex flex-col bg-white/80! dark:bg-neutral-950/80!`}
>
	<CardHeader>
		<Image src={quoteMark} alt="quotemark" height={48} />
	</CardHeader>
	<CardBody
		decorationType="top bottom"
		decorationStyle="dashed"
		classes="bg-white dark:bg-neutral-950"
	>
		<blockquote class={quoteClasses}>{quote}</blockquote>
	</CardBody>
	<CardFooter classes="flex-1">
		<p class="text-headings text-xl leading-6 font-medium">
			<span>{author}</span>
			<span>{position}</span>
		</p>
	</CardFooter>
	{(<slot name="image" />)}
</Card>
