---
// Masonry Feature Grid
// ------------
// Description: A masonry grid of features

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// - UI
import { Image } from 'astro:assets'
import FeatureCard from '../../ui/cards/FeatureImageCard.astro'

// Content
// - Assets
import feature01Front from '../../../assets/features/masonry/feature_01_front.webp'
import feature01Back from '../../../assets/features/masonry/feature_01_back.webp'
import feature02Front from '../../../assets/features/masonry/feature_02_front.webp'
import feature02Back from '../../../assets/features/masonry/feature_02_back.webp'
import feature03Front from '../../../assets/features/masonry/feature_03_front.webp'
import feature03Back from '../../../assets/features/masonry/feature_03_back.webp'
import feature04Front from '../../../assets/features/masonry/feature_04_front.webp'
import feature04Back from '../../../assets/features/masonry/feature_04_back.webp'
---

<Section>
	<Row classes="">
		<Col span="4">
			<FeatureCard style="solid" classes="h-full" decorationType="all" parallaxOffset="20">
				<div slot="content" class="max-w-xl">
					<h3>Team Focused</h3>
					<p>
						The more you use it, the smarter it gets. Mizu Light’s AI continuously adapts to your
						workflows.
					</p>
				</div>
				<div slot="bg-front">
					<Image
						src={feature01Front}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
				<div slot="bg-back">
					<Image
						src={feature01Back}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
			</FeatureCard>
		</Col>
		<Col span="8">
			<FeatureCard classes="h-full" parallaxOffset="50" style="solid" decorationType="all">
				<div slot="content" class="max-w-lg">
					<h3>Intelligent Alerts, Zero Noise</h3>
					<p>
						Mizu Light uses AI to monitor your workflows and deliver precise notifications at the
						right time.
					</p>
				</div>
				<div slot="bg-front">
					<Image
						src={feature02Front}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
				<div slot="bg-back">
					<Image
						src={feature02Back}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
			</FeatureCard>
		</Col>
		<Col span="8">
			<FeatureCard style="solid" classes="h-full" decorationType="all" parallaxOffset="20">
				<div slot="content" class="max-w-xl">
					<h3>Team Focused</h3>
					<p>
						The more you use it, the smarter it gets. Mizu’s AI continuously adapts to your
						workflows.
					</p>
				</div>
				<div slot="bg-front">
					<Image
						src={feature03Front}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
				<div slot="bg-back">
					<Image
						src={feature03Back}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
			</FeatureCard>
		</Col>
		<Col span="4">
			<FeatureCard style="solid" classes="h-full" decorationType="all" parallaxOffset="20">
				<div slot="content" class="max-w-lg">
					<h3>AI-Powered Collaboration</h3>
					<p>
						Work better together with a shared space built for teams of any size. Assign tasks,
						leave feedback in context.
					</p>
				</div>
				<div slot="bg-front">
					<Image
						src={feature04Front}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						layout="constrained"
						class="feature__image"
						height={300}
					/>
				</div>
				<div slot="bg-back">
					<Image
						src={feature04Back}
						alt="AI-Powered Collaboration"
						loading="lazy"
						decoding="async"
						class="feature__image"
						layout="constrained"
						height={300}
					/>
				</div>
			</FeatureCard>
		</Col>
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.feature__image {
		@apply ml-auto max-w-none! lg:max-w-full!;
	}
</style>
